.login {
  background-color: #f7f9fc;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.login .login__title {
  color: #2a4265;
  font-weight: 700;
}
.login .login__logo {
  width: 100px;
}
.login .login__form {
  width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}
.login .login__label {
  color: #78889d;
  margin-left: 5px;
  font-weight: 600;
}
.login .login-action {
  display: flex;
  justify-content: space-between;
}
.login .login__submit {
  background-color: #2a4265;
  padding: 18px 32px;
  border-radius: 4px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login__submit:hover {
  opacity: 0.8;
}
.login .login__wrapText {
  margin-bottom: 10px;
}
.login .login__input {
  background-color: #ecf2f7;
  border: none;
  padding: 15px 12px;
}
.login .login__input.ant-input-status-error,
.login .login__input.ant-input-affix-wrapper-status-error {
  background-color: #ecf2f7 !important;
}
.login .login__input input {
  background-color: transparent;
}
.login .login__forgot {
  color: #7db0e0;
  padding-left: 0;
}
